<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/userlist.css" />
  </head>
  <body>
    <div><%= title%></div>
    <div id="userInfoContainer">
      <!-- <% if (Array.isArray(userinfo) && userinfo.length > 0) { %> <%
      userinfo.forEach((user) => { %>
      <div class="user">
        <div class="email"><span><%= user.email %></span>님 환영합니다.</div>
        <div class="pw">비밀번호는 <span><%= user.pw %></span></div>
        <div class="name">이름 <span><%= user.name %></span></div>
        <div class="age">나이 <span><%= user.age %></span></div>
        <br />
      </div>
      <% }) %> <% } %> -->
    </div>
  </body>
  <script src="/js/userlist.js"></script>
</html>
